{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/acti/{{item.0}}" method="POST">
            <div class="form-group">
                <label class="form-label p-3 mb-2 bg-secondary text-white"> Editar Item </label>
            </div>
            <div class="form-group">
                <input type="text" name="idi" placeholder="Codigo del item" value="{{item.1}}" class="form-control">
            </div>
            <div class="form-group pt-1">
                <input type="text" name="nombrei" placeholder="Nombre del Proyecto" value="{{item.2}}" class="form-control">
            </div>
            <div class="form-group pt-1">
                <input type="text" name="titulo" placeholder="Titulo" value="{{item.3}}"class="form-control">
            </div>
            <div class="form-group pt-1">
                <input type="text" name="unidad" placeholder="Unidad" value="{{item.4}}"class="form-control">
            </div>
            <div class="form-group pt-1">
                <input type="text" name="valoru" placeholder="Valor Unitario" value="{{item.5}}" class="form-control">
            </div>
            <div class="form-group pt-2">
                <button type="submit" class="btn btn-outline-light btn-primary w-100">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}