{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/actu/{{usuario.0}}" method="POST">
            <div class="form-group">
                <label class="form-label p-3 mb-2 bg-secondary text-white"> Editar Usuario </label>
            </div>
            <div class="from-group">
                <input type="text" name="idu" placeholder="Codigo del Usuario" value="{{usuario.1}}" class="form-control">
            </div>
            <div class="from-group pt-1">
                <input type="text" name="nombreu" placeholder="Nombre del Usuario" value="{{usuario.2}}" class="form-control">
            </div>
            <div class="from-group pt-1">
                <input type="text" name="emailu" placeholder="Email del usuario" value="{{usuario.3}}" class="form-control">
            </div>
            <div class="from-group pt-1">
                <input type="text" name="idp" placeholder="Codigo del proyecto" value="{{usuario.4}}" class="form-control">
            </div>
            <div class="from-group pt-1">
                <input type="text" name="nombrep" placeholder="Nombre del proyecto" value="{{usuario.5}}" class="form-control">
            </div>
            <div class="from-group pt-2">
                <button type="submit" class="btn btn-outline-light btn-primary w-100">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}