{% extends "layout.html" %}

{% block content %}
<form action="">
    <input type="text" name="codigoI" placeholder="Codigo del Item">
    <input type="text" name="nombreI" placeholder="Nombre del Item">
    <input type="text" name="titulo" placeholder="Titulo">
    <input type="text" name="unidad" placeholder="Unidad">
    <input type="text" name="valorUnitario" placeholder="Valor Unitario sin puntos ni comas">
    <button type="submit">
        Save
    </button>
</form>

<table>
    <thead>
        <tr>
            <td>codigo Proyecto</td>
            <td>nombre Item</td>
            <td>titulo</td>
            <td>unidad</td>
            <td>valor Unitario</td>
            <td>operaciones</td>
        </tr>
    </thead>
    <tbody>
        {%for protecto in proyectos%}
            <tr>
                <td>{{ protecto.0}}</td>
                <td>{{ protecto.1}}</td>
                <td>{{ protecto.2}}</td>
                <td>{{ protecto.3}}</td>
                <td>{{ protecto.4}}</td>
                <td>
                    <a href="/editar/{{protecto.0}}">Editar</a>
                    <a href="/eliminar/{{Proyecto.0}}">Eliminar</a>
                </td>
            </tr>
            
        {%endfor%}
    </tbody>
</table>
{% endblock %}

